body{

    background-color: #0D2D72;

}



.mainBox{

    width: 100%;
    height: 120px;
    background-color: #DB0F57;
    text-align: center;
    font-size: 100px;
    border-radius: 48px 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #37c3fa;
    text-shadow: 4px 4px 12px #058EC3;
    transition: transform 0.3s ease;
}

.mainBox:hover {
  background-color: #DB0F57;
  color: rgb(159, 252, 228);
}



.buttons{
    justify-content: center;
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.secondBox{
    
    margin-top: 20px;
    width: 250px;
    height: 100px;
    background-color: #DB0F57;
    text-align: center;
    font-size: 20;
    border-radius: 10px 30px 30px;
    flex: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #37c3fa;
    text-shadow: 4px 4px 12px #058EC3;
    font-size: 70px;
}

.thirdBox{
    width: 250px;
    height: 100px;
    margin-top: 20px;
    background-color: #DB0F57;
    text-align: center;
    font-size: 20;
    border-radius: 48px 10px 48px;
    flex: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #37c3fa;
    text-shadow: 4px 4px 12px #058EC3;
    font-size: 70px;

}

.fourthBox{
    width: 250px;
    height: 100px;
    margin-top: 20px;
    background-color: #DB0F57;
    text-align: center;
    font-size: 20;
    border-radius: 30px 30px 30px 10px;
    flex: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition-duration: 0.4s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #37c3fa;
    text-shadow: 4px 4px 12px #058EC3;
    font-size: 70px;

}

.secondBox:hover {
  background-color: #941354;
  color: white;
}

.thirdBox:hover {
  background-color: #941354;
  color: white;
}

.fourthBox:hover {
  background-color: #941354;
  color: rgb(159, 252, 228);
}



.gameBox{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    transition: transform 0.3s ease;
    flex-wrap: wrap;

}

.gameBox img{
    width: 300px;
    height: 300px;
    filter: drop-shadow(0 0 3px #2451b3);
    transition: transform 0.6s ease;
}

.gameBox1{
    
    width: 300px;
    height: 300px;
    background-color: #DB0F57;
    border-radius: 30px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}



.gameBox2{
    
    width: 300px;
    height: 300px;
    background-color: #DB0F57;
    border-radius: 30px;
    margin-left: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.gameBox3{
    
    width: 300px;
    height: 300px;
    background-color: #DB0F57;
    border-radius: 30px;
    margin-left: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.gameBox4{
    
    width: 300px;
    height: 300px;
    background-color: #DB0F57;
    border-radius: 30px;
    margin-left: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.gameBox1:hover {
    transform:scale(1.1);
    
}

.gameBox2:hover {
    transform:scale(1.1);
    
}
.gameBox3:hover  {
    transform:scale(1.1);
}

.gameBox4:hover {
    transform:scale(1.1);
    
}

.gameBox1:hover img{

    transform:scale(1.05);
    filter: brightness(1.5) saturate(1.9) drop-shadow(0 0 3px #2451b3);
    
}

.gameBox2:hover img{
    transform:scale(1.05);
    filter: brightness(1.5) saturate(1.9) drop-shadow(0 0 3px #2451b3);

}

.gameBox3:hover img{
    transform:scale(1.05);
    filter: brightness(1.5) saturate(1.9) drop-shadow(0 0 3px #2451b3);
    
}

.gameBox4:hover img{
    transform:scale(1.05);
    filter: brightness(1.5) saturate(1.9) drop-shadow(0 0 3px #2451b3);
}
